/* Reset default styles */
* {
    color: black !important;
    -webkit-user-drag: none; /* Safari/Chrome */
    -moz-user-drag: none; /* Firefox */
    -ms-user-drag: none; /* IE/Edge */
    /* user-drag: none; Standard */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

/* Define color scheme */
:root {
    color-scheme: light dark;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    body { background: #333; color: white; }
}

/* Light mode styles */
@media (prefers-color-scheme: light) {
    body { background: #ddd; color: black; }
}

/* Body styles */
body {
    background-color: #d4d4d4; /* Light gray background color */
}
#mainParam {
    font-size: 14px !important;
}
/* Center the navbar */
.navbar {
    justify-content: center;
}

/* Make the logo non-draggable */
.navbar-brand img {
    pointer-events: none;
}

/* Disable user-select for images */
img {
    user-select: none;
    cursor: pointer;
}

/* Disable cursor for certain elements */
#cur-dis {
    cursor: default !important;
}

/* Styling for SVG elements */
svg {
    fill: black;
    cursor: pointer;
}

/* Styling for fixed-positioned items */
.fixed-item {
    position: fixed;
    left: 25px;
    top: 15px;
}

/* Styling for hidden window */
#hiddenWindow {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgba(201, 201, 201, 0.857);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

/* Styling for clock */
#clock {
    position: fixed;
    top: 15px;
    right: 50px;
    color: black;
    font-size: 14pt;
    font-weight: 600;
}

/* Main machine styles */
#mainMachine {
    color: black;
    font-weight: 500;
}

/* Additional body and HTML styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden !important;
}

/* Main view styles */
#mainview {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Row styles */
#rrow {
    flex: 1;
}

/* List item transition */
li {
    transition: background-color 0.5s ease;
}

/* Hover styles for list items */
li:hover {
    cursor: pointer !important;
    background-color: #858585;
}

/* Styles for image columns */
.image-column {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Image styling */
.image-column img {
    width: 100%;
    height: auto;
    max-width: none;
    max-height: none;
    width: 500px;
    height: auto;
}

/* Custom button styles */
.custom-btn {
    width: 150px;
    height: 70px;
    font-weight: 600;
    color: white !important;
}

/* Highlighted row styles */
.highlighted-row {
    background-color: #d7d7d7 !important;
    color: white;
}
 /* Custom CSS to adjust row height */
#cycle-table tr {
    height: 10px !important;/* Adjust the height of the rows */
}

.align-right {
    text-align: right;
}

.drive-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

.bi-usb-drive {
    margin-right: 8px; /* Adjust spacing between icon and text */
}

/* Add this to your CSS file or style block */
.drive-name {
    font-size: 12px; /* Adjust the font size as needed */
}